name: lint
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  awesome-lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: awesome-lint
        run: npx -y awesome-lint
